.push-in-enter-active,
.push-in-leave-active,
.pop-out-enter-active,
.pop-out-leave-active {
  transition: transform 0.3s;
  position: absolute;
}

.push-in-enter-active {
  transition-timing-function: ease-out;
}

.pop-out-leave-active {
  transition-timing-function: ease-out;
}

.push-in-enter-from,
.pop-out-leave-to {
  transform: translateX(var(--app-width));
}

.push-in-leave-active,
.pop-out-enter-active {
  z-index: -1;
}

.push-in-enter-active,
.pop-out-leave-active {
  z-index: 1;
}

.list-fade-move,
.list-fade-enter-active,
.list-fade-leave-active {
  transition: all 0.3s ease;
  width: 100%;
}

.list-fade-enter-from,
.list-fade-leave-to {
  opacity: 0;
}

.list-fade-leave-active {
  position: absolute;
}
