:root {
  --fg-primary: #e3e3e3;
  --fg-secondary: #acacac;
  --fg-dark: #626262;

  --bg-dark: #1b1b1b;
  --bg-primary: #242424;
  --bg-secondary: #2e2e2e;
  --bg-accent: #3b3b3b;

  --brand-primary: #2b5dc4;
  --brand-secondary: #355598;

  --font-md: 0.8rem;
  --font-sm: 0.75rem;
  --font-lg: 1.3rem;
  --font-xl: 2rem;
}

@media (min-width: 600px) {
  :root {
    --font-md: 1rem;
    --font-sm: 0.8rem;
    --font-lg: 1.6rem;
    --font-xl: 3rem;
  }
}
