@import "reset";
@import "utils";
@import "variables";

:root {
  color: var(--fg-primary);
  background-color: var(--bg-dark);
}

#app {
  width: min(100% - 3rem, 120ch);
  margin-inline: auto;
  padding-block: 1rem 1rem;
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow-y: scroll;
  padding-right: 0.5rem;
  border-radius: 0.7rem;
  margin-block: 1rem;

  // Estilo da scrollbar para firefox
  scrollbar-color: var(--brand-primary) var(--bg-primary);

  // Estilo da scrollbar para webkit (chrome, edge, brave, etc)
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--brand-primary);
    border-radius: 10px;
  }
}
